<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Resume</title>
</head>
<style>
    div {
        vertical-align: top;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    input {
        border-bottom: none;
    }


    .all-headings {
        border: 1px solid rgb(17, 15, 15);
        margin: 5px;
        text-align: left;
        background-color: #313b47;
        border-radius: 3px;
        font-size: 14px;
        padding: 5px;
        color: white;
    }

    #row-parent-item-blocks {
        /* margin: 5px;*/
        font-weight: 500;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    {#background-color: rgb(231, 225, 225);#} background-color: #f9f9f9
    }

    .resumepg {
        margin-left: 55px;
        line-height: 2.2;
    }

    .image {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
    }

    .background {
        background-color: #003366;
        color: white;
    }

    hr {
        height: 5px;
    }

    h6 {
        color: #ccffff;
        display: inline-block;
    }

    .bt-bdr {
        outline: 0;
        border-width: 0 0 1px;
        border-color: black
    }

    .italic {
        font-style: italic;
    }

    .small {
        font-size: small;
    }

    .medium {
        font-size: medium;
    }

    .large {
        font-size: large;
    }

    .heading {
        font-size: 25px;
        text-decoration: underline;
    }

    .bold-less {
        font-weight: 600;
    }

    .bold {
        font-weight: 700;
    }

    .bolder {
        font-weight: 800;
    }

    .date {
        width: 3cm;
    }

    .long {
        width: 12cm
    }

    .background-box {
        border: 1px solid black;
        font-size: 15px;
        background-color: white;
        padding: 0.2cm;
        color: black;
        /* min-width: 2cm;*/
    }

    .items {
        background-color: #425061;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(238, 237, 237);
        cursor: pointer;
        color: white;
        min-width: 120px;
        text-align: center;
        display: inline-block;
        list-style-type: none;
    }

    #dragboxmain li {
        list-style-type: none;
        display: inline-block;
        min-width: 120px;
        text-align: center;
    }

    #dropbox1,
    #dropbox2 li {
        list-style-type: none;
    }

    textarea {
        resize: none;
        overflow: hidden;
        height: 39px;
        line-height: 23px;
    }

    .add {
        background-color: #425061;
        color: white;
        border-radius: 50%;
        width: 1cm;

    }

    .del {

        border-radius: 50%;
        width: 1cm;

    }

    #display-image {
        width: 142px;
        height: 149px;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-left: 1cm;
        margin-top: 1cm;
        margin-bottom: 0.5cm;
    }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!--navbar-->
<div class="container col-4" id="nav-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-pill">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link px-3" aria-current="page" href="#">Templates</a>
                    <a class="nav-link px-3" href="#">Font</a>
                    <a class="nav-link px-3" href="#">Theme</a>
                    <div class="mx-2">
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#LayoutModal">Layout
                        </button>
                    </div>
                    >
                    <button class="btn btn-dark" onClick="remove()">Download</button>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Layout  -->
<div class="modal fade" id="LayoutModal" tabindex="-1" aria-labelledby="layoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="LayoutModalLabel">Layout</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <div id="dragboxmain" style=" display: inline-block; width: 12cm;" class="all-headings dragbox">Drag
                    from the list below
                    <br>
                    <li class="items" id="educationLayout">EDUCATION</li>
                    <li class="items" id="projectsLayout">PROJECTS</li>
                    <li class="items" id="workLayout">WORK</li>
                    <li class="items" id="skillsLayout">SKILLS</li>
                    <li class="items" id="achievementsLayout">ACHIEVEMENTS</li>
                    <li class="items" id="organizationsLayout">ORGANIZATIONS</li>
                    <li class="items" id="certificatesLayout">CERTIFICATES</li>
                    <li class="items" id="languagesLayout">LANGUAGES</li>
                    <li class="items" id="interestsLayout">INTERESTS</li>
                    <li class="items" id="awardsLayout">AWARDS</li>
                    <li class="items" id="causesLayout">CAUSES</li>
                    <li class="items" id="publicationLayout">PUBLICATION</li>
                    <li class="items" id="referencesLayout">REFERENCES</li>
                    <li class="items" id="hobbiesLayout">HOBBIES</li>
                    <li class="items" id="teachingLayout">TEACHING</li>
                    <li class="items" id="technical-skillsLayout">TECHNICAL SKILLS</li>
                    <li class="items" id="volunteerLayout">VOLUNTEER</li>
                </div>

                <div id="dropbox1"
                     style="display:inline-block; width:3.8cm ;margin-right: -0.27cm; text-align: center;min-height: 10cm;"
                     class="all-headings dropbox">Drop
                </div>

                <div id="dropbox2" style=" display: inline-block; width:3.8cm; text-align: center; min-height:10cm"
                     class="all-headings dropbox">Here<br>
                </div>
            </div>

        </div>
    </div>
</div>


<!--header-->

<div class="container" id="myresume" >
    {#style="width: 35cm ; margin-left: 2cm"#}
    <div class="row justify-content-center align-items-centre" style="width: 30cm">

        {#    <div class="">#}

        <div id="head" class="col-12 border-right card-header" style="background-color:white; ">

            <div id="display-image" style="display: inline-block">

            </div>
            <div style="display: inline-block; margin-left: 100px;margin-top: 60px">
                <h1><input class="bt-bdr " style="min-width: 10cm; height:1.4cm" placeholder="Your name"></h1></div>
            <div style="display: inline-block; margin-top: 3cm; margin-left: -10.1cm">
                <input class="bt-bdr bold-less large" style="min-width: 10cm;" placeholder="Professional Title"></div>
            <div><input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg" style="margin-left: 1cm">
            </div>

        </div>

        <div id="head2" class="col-12 border-right card-header" style="background-color:#313c4e; ">
            <div class="container" style="margin-top: 0.2cm; margin-left: 0.8cm">
                <div class="row">
                    <div class="col-6">
                        <i class="fa-solid fa-envelope" style="color:white"></i>
                        <input class="bt-bdr bold-less large"
                               style="min-width: 10cm;background-color:#313c4e;color:white"
                               placeholder="Email">
                    </div>
                    <div class="col-6">


                        <i class="fa-solid fa-mobile" style="color:white"></i>

                        <input class="bt-bdr bold-less large"
                               style="min-width: 10cm;background-color:#313c4e;color:white"
                               placeholder="Mobile No.">

                    </div>

                </div>
                <div class="row">
                    <div class="col-6">


                        <i class="fa-solid fa-location-dot " style="color:white"></i>
                        <input class="bt-bdr bold-less large"
                               style="min-width: 10cm;background-color:#313c4e;color:white"
                               placeholder="Place">
                    </div>
                    <div class="col-6">


                        <i class="fa-brands fa-linkedin" style="color:white"></i>
                        <input class="bt-bdr bold-less large"
                               style="min-width: 10cm;background-color:#313c4e;color:white"
                               placeholder="Linkdin ID">

                    </div>

                </div>
                <div class="row">
                    <div class="col-6">


                        <i class="fa-brands fa-github" style="color:white"></i>
                        <input class="bt-bdr bold-less large"
                               style="min-width: 10cm;background-color:#313c4e;color:white"
                               placeholder="Github ID">
                    </div>

                </div>

            </div>
        </div>

        <div id="both" class="col-12">
            <div class="row">
                <div class="col-6 border-right" style="background-color: white; min-height: 29.7cm;" id="left-col">
                </div>

                <div class="col-6 " style="background-color: white; min-height: 29.7cm;" id="right-col">
                </div>
            </div>
        </div>

        <br>
    </div>

</div>
{#</div>#}


<!--all details-->

<div class="container" id="oldb" style="display:none">
    <div class="row">

        <!--education-->
        <div class="resumepg" id="education">
            <div class="heading bold">EDUCATION</div>
            <div class="education">

                <div><textarea oninput="addlines(this)" class="bt-bdr bolder large long"
                               placeholder="Study Program"> </textarea></div>
                <div><textarea oninput="addlines(this)" class="bt-bdr bold large long"
                               placeholder="Institution"></textarea>
                </div>
                <div><input class="bt-bdr medium" placeholder="mm / yyyy">
                    <input class="bt-bdr medium" placeholder="Percentage/CGPA" style="margin-left: 6em"></div>

                {#                <div><input class="bt-bdr small" placeholder="City , Country"></div>#}
                {#                <div><input class="bt-bdr bold-less medium" placeholder="Courses"></div>#}
                {#                <li><input class="bt-bdr small" placeholder="Course/Thesis/Project"></li>#}
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--interests-->
        <div class="resumepg" id="interests">
            <div class="heading bold">INTEREST FIELDS</div>
            <div class="interests">
                <div><input class="bt-bdr bold-less large" style="min-width: 10cm;" placeholder="Interest">
                </div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--achievements-->
        <div class="resumepg" id="achievements">
            <div class="heading bold">ACHIEVEMENTS</div>
            <div class="achievements">
                {#                <div><input class="bt-bdr bold-less large long" placeholder="Achievement Name"></div>#}
                <div><textarea oninput="addlines(this)" class="bt-bdr bold-less large long"
                               placeholder="Description(optional)"> </textarea></div>
                <div><textarea oninput="addlines(this)" class="bt-bdr large long italic"
                               placeholder="Description(optional)"> </textarea></div>
                {#                <div><input class="bt-bdr italic medium" placeholder="Description(optional)"></div>#}
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--awards-->
        <div class="resumepg" id="awards">
            <div class="heading bold">HONOR AWARDS</div>
            <div class="awards">
                <div><input class="bt-bdr bold-less large" placeholder="Title/ Award name"></div>
                <div><input class="bt-bdr  small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr  small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr italic medium long"
                            placeholder="Name of the institution that issued/awarded it">
                </div>
                <div><input class="bt-bdr italic medium" placeholder="-Description(optional)"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--projects-->
        <div class="resumepg" id="projects">
            <div class="heading bold large">PERSONAL PROJECTS</div>
            <div class="projects">
                <div><input class="bt-bdr bolder large " placeholder="Project Name"></div>
                <div><textarea oninput="addlines(this)" class="bt-bdr medium large long"
                               placeholder="-Description of project"> </textarea></div>
                {#                <div><input class="bt-bdr medium long" placeholder="-Description of project">#}
                {#                </div>#}
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--skills-->
        <div class="resumepg" id="skills">

            <div class="heading bold">SKILLS</div>
            <div class="skills" style="display: inline-block">
                <div><input class="bt-bdr bold " style="min-width: 3cm;" placeholder="skill "></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--hobbies-->
        <div class="resumepg" id="hobbies">

            <div class="heading bold">HOBBIES</div>
            <div class="hobbies">
                <div><input class="bt-bdr bold-less  " style="min-width: 3cm" placeholder="Hobby"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--work-->
        <div class="resumepg" id="work">
            <div class="heading bold">WORK EXPERIENCE</div>
            <div class="work">
                <div><input class="bt-bdr bolder large" placeholder="Title / Position"></div>
                <div><input class="bt-bdr bold large" placeholder="Workplace / Company"></div>
                <div><input class="bt-bdr small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr medium" placeholder="City,Country (optional)"></div>
                <div><input class="bt-bdr medium" placeholder="Company Description"></div>
                <div><input class="bt-bdr bold-less large" placeholder="Achievement / Tasks"></div>
                <li><input class="bt-bdr medium long" placeholder="Accomplishment/Responsibility/Task">
                </li>
                <div><input class="bt-bdr bold-less date" placeholder="Contact:">-
                    <input class="bt-bdr italic medium " placeholder="Contact Person">
                </div>
                <div><input class="bt-bdr italic medium" placeholder="Contact info"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--teaching experience-->
        <div class="resumepg" id="teaching">

            <div class="heading bold">TEACHING EXPERIENCE</div>
            <div class="teaching">
                <div><input class="bt-bdr bolder large" placeholder="Name of the Class"></div>
                <div><input class="bt-bdr bold-less large long" placeholder="Institution / Place of education">
                </div>
                <div><input class="bt-bdr  small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr  small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr medium" placeholder="City,Country (optional)"></div>
                <div><input class="bt-bdr medium" placeholder="Company Description"></div>
                <div><input class="bt-bdr bold-less large" placeholder="Achievement / Tasks"></div>
                <li><input class="bt-bdr medium long" placeholder="Accomplishment/Responsibility/Task">
                </li>
                <div><input class="bt-bdr bold-less date" placeholder="Contact:">-
                    <input class="bt-bdr italic medium " placeholder="Contact Person">
                </div>
                <div><input class="bt-bdr italic medium" placeholder="Contact info"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>
        <!--volunteer-->
        <div class="resumepg" id="volunteer">

            <div class="heading bold">VOLUNTEER EXPERIENCE</div>
            <div class="volunteer">
                <div><input class="bt-bdr bolder large" placeholder="Title / Position"></div>
                <div><input class="bt-bdr bold large" placeholder="organization"></div>
                <div><input class="bt-bdr small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr  medium" placeholder="City,Country (optional)"></div>
                <div><input class="bt-bdr  medium" placeholder="Company Description"></div>
                <div><input class="bt-bdr bold-less large" placeholder=" Tasks /Achievement "></div>
                <li><input class="bt-bdr italic medium long" placeholder="Accomplishment/Responsibility/Task"></li>
                <div><input class="bt-bdr bold-less date" placeholder="Contact:">-
                    <input class="bt-bdr italic medium " placeholder="Contact Person">
                </div>
                <div><input class="bt-bdr italic medium" placeholder="Contact info"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>


        <!--causes-->
        <div class="resumepg" id="causes">

            <div class="heading bold large">SUPPORTED CAUSES</div>
            <div class="causes">
                <div><input class=" bold-less large  " placeholder="cause "></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--Technical-skills-->
        <div class="resumepg" id="technical-skills">

            <div class="heading bold">TECHNICAL SKILLS</div>
            <div class="technical-skills">
                <div><input class="bt-bdr  bolder large  " placeholder="Group Name "></div>
                <div><input class=" bt-bdr bold-less large  " placeholder="List of Technical Skills ">
                </div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--publications-->
        <div class="resumepg" id="publication">

            <div class="heading bold">PUBLICATION</div>
            <div class="publication">
                <div><input class="bt-bdr large  " placeholder="Publication Type"></div>
                <div><input class=" bt-bdr bolder large  " placeholder="Publication Title "></div>
                <div><input class="bt-bdr  italic large  " placeholder="Author(s)"></div>
                <div><input class=" bt-bdr  large  " placeholder="List of Authors"></div>
                <div><input class="bt-bdr italic bold-less large long " placeholder="Date of Publication "></div>
                <div><input class=" bt-bdr  large long " placeholder="Publisher/issues/Pages,etc. "></div>
                <div><input class=" bt-bdr  large  " placeholder="Description "></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>
        <!--organizations-->
        <div class="resumepg" id="organizations">

            <div class="heading bold">ORGANIZATIONS</div>
            <div class="organizations">
                <div><input class="bt-bdr bold-less large " placeholder="organization Name"></div>
                <div><input class="bt-bdr  small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr  small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr italic medium" placeholder="Role(optional)"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>
        <!--languages-->
        <div class="resumepg" id="languages">

            <div class="heading bold">LANGUAGES</div>
            <div class="languages">
                <div><input class="bt-bdr bold-less large  " placeholder="Language"></div>
                <div><input class="bt-bdr small long " placeholder="Full Professional Proficiency"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

        <!--certificates-->
        <div class="resumepg" id="certificates">

            <div class="heading bold">CERTIFICATES</div>
            <div class="certificates">
                <div><input class="bt-bdr bold-less large " placeholder="Certificate Name"></div>
                <div><input class="bt-bdr  small date" placeholder="mm / yyyy">-
                    <input class="bt-bdr  small date" placeholder="mm / yyyy">
                </div>
                <div><input class="bt-bdr italic medium long" placeholder="Description(optional)"></div>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>
        <!--references-->
        <div class="resumepg" id="references">

            <div class="heading bold">REFERENCES</div>
            <div class="references">
                <li><input class="bt-bdr bold-less large " placeholder=" Name and Position"></li>
                <button class="add btn1" onclick="add(event)">+</button>
                <button class="del btn1" onclick="del(event)">-</button>
            </div>
        </div>

    </div>

</div>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- jquery and jquery ui cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

<script>
    const image_input = document.querySelector("#image-input");

    image_input.addEventListener("change", function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            const uploaded_image = reader.result;
            document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
        });
        reader.readAsDataURL(this.files[0]);
    });

    $("textarea").val("");

    //jquery sortable method to reorder elements in the list
    $(function () {
        $(".all-headings").sortable({
            connectWith: ".all-headings",
            stop: updateOrder,
            receive: addElements,
            placeholder: "background-box",
            start: sortstart,
            revert: true,
            opacity: 0.65,
        }).disableSelection();
    });

    // to bring placeholder text
    function sortstart(e, ui) {
        $('.background-box').append('<span>' + ui.item[0].innerHTML + '</span>');
    }

    // to make corresponding changes in the page after changes in the layout
    function updateOrder() {
        let list = $("#dropbox1").children("li");
        let orderOfSort = [];
        let len;
        list.each(function () {
            len = $(this).attr('id').length;
            orderOfSort.push($(this).attr('id').substr(0, len - 6) + "new");
        });
        for (let i = 1; i < orderOfSort.length; i++) {
            $('#' + orderOfSort[i]).insertAfter('#' + orderOfSort[i - 1]);
        }

        list = $("#dropbox2").children("li");
        orderOfSort = [];
        len = 0;
        list.each(function () {
            len = $(this).attr('id').length;
            orderOfSort.push($(this).attr('id').substr(0, len - 6) + "new");
        });
        for (let i = 1; i < orderOfSort.length; i++) {
            $('#' + orderOfSort[i]).insertAfter('#' + orderOfSort[i - 1]);
        }
    }

    //to add elements according to the ones added in layout
    function addElements(e, ui) {
        if (e.target.id == "dropbox1") {
            len = ui.item[0].id.length;
            ele_id = ui.item[0].id.substr(0, len - 6);
            let element = $("#" + ele_id).clone();
            let newid = $(element).attr('id') + "new";
            $(element).attr('id', newid);
            if (ui.sender[0].id == "dropbox2") {
                let len = ui.item[0].id.length;
                id_remove = ui.item[0].id.substr(0, len - 6) + "new";
                $("#" + id_remove).remove();
            }
            $('#left-col').append(element);

        } else if (e.target.id == "dropbox2") {
            len = ui.item[0].id.length;
            ele_id = ui.item[0].id.substr(0, len - 6);
            let element = $("#" + ele_id).clone();
            let newid = $(element).attr('id') + "new";
            $(element).attr('id', newid);

            if (ui.sender[0].id == "dropbox1") {
                let len = ui.item[0].id.length;
                id_remove = ui.item[0].id.substr(0, len - 6) + "new";
                $("#" + id_remove).remove();
            }
            $('#right-col').append(element);
        } else if (e.target.id == "dragboxmain") {
            let len = ui.item[0].id.length;
            id_remove = ui.item[0].id.substr(0, len - 6) + "new";
            $("#" + id_remove).remove();
        }


        let minht1 = $("#dropbox1").css("height");
        let minht2 = $("#dropbox2").css("height");
        if (minht1 > minht2) {
            $("#dropbox2").css("min-height", minht1);
        } else
            $("#dropbox1").css("min-height", minht2);
    }


    //to add more similar fields
    function add(e) {
        let len = e.target.parentNode.parentNode.id.length;
        let id = e.target.parentNode.parentNode.id.substr(0, len - 3);
        $("#" + id).children().eq(1).clone().insertAfter(e.target.parentNode);

    }

    //to delete that particular field
    function del(e) {
        let n = e.target.parentNode.parentNode.children.length;


        if (n == 2) {
            let len = e.target.parentNode.parentNode.id.length;
            let id = e.target.parentNode.parentNode.id.substr(0, len - 3);
            let element = $("#" + e.target.parentNode.parentNode.id.substr(0, len - 3) + "Layout");
            element.appendTo("#dragboxmain");
            e.target.parentNode.parentNode.remove(); //to remove that field's parent when no more of its child is present
        } else
            e.target.parentNode.remove();
    }

    //to add more lines in textarea
    function addlines(element) {
        element.style.height = "";
        element.style.height = (element.scrollHeight) + "px";
    }


    function remove() {
        $(".add").css("display", "none");
        $(".del").css("display", "none");
        $("#image-input").css("display", "none");
        $("#nav-top").css("display", "none");


        window.print();


        function displayagain() {
            $(".add").css("display", "inline");
            $(".del").css("display", "inline");
            $("#image-input").css("display", "inline");
            $("#nav-top").css("display", "block");

        }

        setTimeout(displayagain, 3000);
    }
</script>

</body>

</html>